<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>Verify your email address</title>
  </head>
  <body>
    <h1>Hello! {{name}}</h1>
    <p>Thank you for joining our service!</p>
    <p>We are excited to have you on board.</p>
    <p>Before you can start using your account, you need to
      <a href='{{emailVerificationUrl}}'>verify</a>
      your email address</p>
    <br />
    <p>Or by clicking the following link to verify your email address:</p>
    <p><a href='{{emailVerificationUrl}}'>{{emailVerificationUrl}}</a></p>
  </body>
</html>